*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header{
    color: #000;
    width: 100%;
}
.nav-1{
    padding-top: 13px;
}
header nav ul li,
.nav-2 ul li{
    list-style: none;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    display: inline-flex;
    align-items: center;
}
.logo__info{
   
    display: inline-block;
    vertical-align:top;
    margin-left: 20px;

}
.logo-title{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26.5px;
}
.logo-suptitle{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21.9px;
    display: block;
}
.hidden__toggle{
    display: none;
}
.contact{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px;
    display: inline-flex;
    align-items: center;
    color: #000;
}
.header__icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.header__icon .fas{
    font-size: 14px;
}
.return-call a{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18.75px;
    text-decoration: none;
    text-align: center;
    padding: 12px 6px 18px 6px;
    border-radius: 22px;
    width: 186px;
    color: #0050B2;
    transition: background-color .5s;
}
/* /Header */